@mixin inputStyle {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #c7c7c7;
  outline: none;
  margin: 0 10px;
}

.home-section {
  position: relative;
  .search-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 5px;
    border-bottom: 1px solid #c7c7c7;
    position: relative;
    .search-field {
      display: flex;
      flex-direction: column;
      position: relative;
      .search-word {
        @include inputStyle();
      }
      & > svg {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 18px;
      }
      .get-location {
        margin: 5px 10px 0;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        padding: 5px 10px;
        border: 1px solid #c7c7c7;
        background-color: white;
        & > svg {
          color: var(--main-color);
        }
      }
    }
    .build-number {
      & > input {
        @include inputStyle();
      }
      @media (max-width: 556px) {
        margin-top: 10px;
      }
    }
    .advanced-filters {
      button.more {
        background-color: transparent;
        border: 1px solid var(--main-color);
        color: var(--main-color);
        padding: 5px 15px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        transition: 0.2s all ease-in-out;
        -webkit-transition: 0.2s all ease-in-out;
        -moz-transition: 0.2s all ease-in-out;
        -ms-transition: 0.2s all ease-in-out;
        -o-transition: 0.2s all ease-in-out;
        @media (max-width: 556px) {
          margin-top: 10px;
        }
        &:hover {
          background-color: var(--main-color);
          color: white;
        }
      }
    }
    .advanced-search {
      z-index: 10;
      position: absolute;
      font-size: 0.8em;
      width: 410px;
      min-height: 300px;
      max-height: 350px;
      overflow-y: scroll;
      background-color: white;
      border: 1px solid #c7c7c7;
      padding: 15px;
      padding-left: 0;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      margin-top: 10px;
      @media (max-width: 768px) {
        position: fixed;
        top: -13px;
        left: 0;
        right: 0;
        width: 100%;
        min-height: 101vh;
        padding-top: 20px;
      }
      .close {
        position: absolute;
        left: 10px;
        top: 10px;
        border: none;
        font-weight: bold;
        background-color: transparent;
        color: var(--main-color);
        font-size: 18px;
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
      }
      .row {
        width: 100%;
        [class^="col"] {
          height: fit-content;
        }
        .build-type {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          & > label {
            margin-bottom: 10px;
          }
          div[role="button"] {
            font-family: "Cairo", sans-serif !important;
            padding-top: 6px;
            padding-bottom: 6px;
          }
        }
        div[class="col-4"] {
          margin-bottom: 15px;
          font-weight: 600;
          & > div {
            margin: 0 5px;
            p {
              font-weight: bold;
            }
            & > div {
              display: flex;
              align-items: center;
              margin: 5px 0;
              input {
                margin-left: 5px;
              }
            }
          }
        }
        .price,
        .age {
          display: flex;
          justify-content: space-between;
          input {
            @include inputStyle();
            margin: 0;
          }
        }
        .age {
          margin-top: 15px;
        }
        .form-footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
          padding: 15px 0;
          border-top: 1px solid #c7c7c7;
          .clear,
          input[type="submit"] {
            transition: 0.2s all ease-in-out;
            -webkit-transition: 0.2s all ease-in-out;
            -moz-transition: 0.2s all ease-in-out;
            -ms-transition: 0.2s all ease-in-out;
            -o-transition: 0.2s all ease-in-out;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            padding: 5px 10px;
            border: 1px solid var(--main-color);
          }
          input[type="submit"] {
            background-color: var(--main-color);
            color: white;
            &:hover {
              color: var(--main-color);
              background-color: transparent;
            }
          }
          .clear {
            background-color: transparent;
            color: var(--main-color);
            &:hover {
              background-color: var(--main-color);
              color: white;
            }
          }
        }
      }
    }
  }
  & > .row {
    height: 63vh;
    overflow-y: hidden;
    @media (max-width: 991px) {
      height: 74vh;
    }
    @media (max-width: 768px) {
      height: 100%;
    }
    .ads-col {
      height: 100%;
      .ads-container {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        padding: 15px;
        .order-by {
          margin-bottom: 30px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          div[role="button"] {
            font-family: "Cairo", sans-serif !important;
            padding: 10px 31px 10px 10px;
          }
          p {
            margin: 0;
          }
        }

        .ads {
          .row {
            height: 100%;
            overflow-y: scroll;
            .card {
              width: 100%;
              margin: 10px;
              border-radius: 5px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -ms-border-radius: 5px;
              -o-border-radius: 5px;
              position: relative;
              overflow: hidden;
              height: 350px;
              box-shadow: 3px 3px 15px #c7c7c7;
              .image {
                height: 50%;
                img {
                  min-width: 100%;
                  height: 175px;
                }
              }
              .content {
                padding-top: 15px;
                & > div {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                }
                & > div:not(:nth-child(3)) {
                  padding: 0 15px;
                }
                .title-details {
                  margin-bottom: 20px;
                  .title {
                    margin: 0;
                    font-weight: bold;
                  }
                  a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: black;
                    svg {
                      color: #8da3f4;
                      margin-right: 5px;
                    }
                    padding: 5px 10px;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    border: 1px solid black;
                  }
                }
                .location-price {
                  margin-bottom: 15px;
                  .location {
                    color: #555;
                    svg {
                      font-size: 18px;
                      font-weight: bold;
                    }
                  }
                  .price {
                    color: var(--main-color);
                    font-weight: bold;
                  }
                }
                .footer {
                  background-color: #f0f0f0;
                  padding: 10px 5px 20px;
                  border-top: 1px solid #c7c7c7;
                  color: #a4a4a4;
                  margin-top: 15px;
                  p {
                    margin: 0;
                  }
                  button {
                    background-color: transparent;
                    border: none;
                    margin: 0 5px;
                    font-size: 20px;
                    color: #a4a4a4;
                    transition: 0.2s all ease-in-out;
                    -webkit-transition: 0.2s all ease-in-out;
                    -moz-transition: 0.2s all ease-in-out;
                    -ms-transition: 0.2s all ease-in-out;
                    -o-transition: 0.2s all ease-in-out;
                  }
                  .share:hover {
                    color: var(--main-color);
                  }
                  .favorite:hover {
                    color: #fd6884;
                  }
                }
              }
            }
          }
        }
      }
    }
    .map {
      @media (max-width: 768px) {
        height: 100vh;
      }
    }
    .switch-btn {
      position: fixed;
      bottom: 30px;
      left: 50%;
      background-color: var(--main-color);
      color: white;
      padding: 10px 15px;
      border: none;
      width: fit-content;
      border-radius: 5px;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      svg {
        color: white;
        margin-left: 5px;
        font-size: 20px;
      }
    }
  }
}
