@mixin inputStyle {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #c7c7c7;
  outline: none;
  margin: 0 10px;
}

.home-section {
  .search-bar {
    display: flex;
    align-items: center;
    padding: 15px 5px;
    border-bottom: 1px solid #c7c7c7;
    position: relative;
    .search-field {
      display: flex;
      flex-direction: column;
      position: relative;
      .search-word {
        @include inputStyle();
      }
      & > svg {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 18px;
      }
      .get-location {
        margin: 5px 10px 0;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        padding: 5px 10px;
        border: 1px solid #c7c7c7;
        background-color: white;
        & > svg {
          color: var(--main-color);
        }
      }
    }
    .build-number {
      & > input {
        @include inputStyle();
      }
    }
    .advanced-filters {
      button.more {
        background-color: transparent;
        border: 1px solid var(--main-color);
        color: var(--main-color);
        padding: 5px 15px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        transition: 0.2s all ease-in-out;
        -webkit-transition: 0.2s all ease-in-out;
        -moz-transition: 0.2s all ease-in-out;
        -ms-transition: 0.2s all ease-in-out;
        -o-transition: 0.2s all ease-in-out;
        &:hover {
          background-color: var(--main-color);
          color: white;
        }
      }
    }
    .advanced-search {
      z-index: 10;
      position: absolute;
      font-size: 0.8em;
      width: 410px;
      min-height: 300px;
      max-height: 350px;
      overflow-y: scroll;
      background-color: white;
      border: 1px solid #c7c7c7;
      padding: 15px;
      padding-left: 0;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      margin-top: 10px;
      .row {
        width: 100%;
        [class^="col"] {
          height: fit-content;
        }
        .build-type {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          & > label {
            margin-bottom: 10px;
          }
          div[role="button"] {
            font-family: "Cairo", sans-serif !important;
            padding-top: 6px;
            padding-bottom: 6px;
          }
        }
        div[class="col-4"] {
          margin-bottom: 15px;
          font-weight: 600;
          & > div {
            margin: 0 5px;
            p {
              font-weight: bold;
            }
            & > div {
              display: flex;
              align-items: center;
              margin: 5px 0;
              input {
                margin-left: 5px;
              }
            }
          }
        }
        .price,
        .age {
          display: flex;
          justify-content: space-between;
          input {
            @include inputStyle();
            margin: 0;
          }
        }
        .age {
          margin-top: 15px;
        }
        .form-footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
          padding: 15px 0;
          border-top: 1px solid #c7c7c7;
          .clear,
          input[type="submit"] {
            transition: 0.2s all ease-in-out;
            -webkit-transition: 0.2s all ease-in-out;
            -moz-transition: 0.2s all ease-in-out;
            -ms-transition: 0.2s all ease-in-out;
            -o-transition: 0.2s all ease-in-out;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            padding: 5px 10px;
            border: 1px solid var(--main-color);
          }
          input[type="submit"] {
            background-color: var(--main-color);
            color: white;
            &:hover {
              color: var(--main-color);
              background-color: transparent;
            }
          }
          .clear {
            background-color: transparent;
            color: var(--main-color);
            &:hover {
              background-color: var(--main-color);
              color: white;
            }
          }
        }
      }
    }
  }
  & > .row {
    height: 80vh;
    .ads-container {
      margin-top: 15px;
      padding: 0 20px;
      .order-by {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div[role="button"] {
          font-family: "Cairo", sans-serif !important;
        }
      }
    }
  }
}
