@use "../../App.scss" as *;
.contact-section {
  padding-bottom: 80px;
}

.contact-section .info-container {
  position: relative;
}

.contact-section .info-container .info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 60px;
  min-width: 350px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border: 2px solid var(--main-background);
  padding: 10px 25px;
}

@media (max-width: 768px) {
  .contact-section .info-container .info {
    right: auto;
    left: 0;
    padding: 5px 10px;
    font-size: 0.7em !important;
    min-height: 300px;
    min-width: 200px;
  }
}

.contact-section .info-container .info .details .title {
  font-weight: bold;
  margin-bottom: 35px;
}

.contact-section .info-container .info .details p {
  line-height: 1.8;
}

.contact-section .info-container .info .details p.phone {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

.contact-section .info-container .info .details p > svg {
  margin-left: 5px;
  font-weight: bold;
  font-size: 18px;
}

.contact-section .info-container .info .details .icons {
  display: flex;
  justify-content: center;
}

.contact-section .info-container .info .details .icons ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

.contact-section .info-container .info .details .icons ul a {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  color: white;
  background-color: var(--main-background);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section .info-container .info .details .icons ul a svg {
  font-size: 15px;
}
